<a{% for attr, value  in options %} {{ attr }}="{{ value }}"{% endfor %} style="color: #000
;">
<span class="pull-right">
        {% if sorted %}
            {% if direction == 'desc' %}
                <i class="cil-sort-alpha-down"></i>
            {% else %}
                <i class="cil-sort-alpha-up"></i>
            {% endif %}
        {% endif %}
    </span>
{{ title }}
</a>